<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KBS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>frames.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>gui.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>iProlog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ilp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>image.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ml.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>probot.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>prolog.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>511D4C2D17659D3800A04199</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>511D4C4017659F3500A04199</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>511D4C4817659F6B00A04199</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>511D4C4F1765A0D900A04199</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51397E4F1765C607001431F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>514A1A7E16288B2800CD3676</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>514A1A8C16288C6B00CD3676</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>514A1B0C1628963400CD3676</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51500B4E1628A2080022A8A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>515D41BE1768869F00106177</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5161495C161CB154006C40CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51614964161CB1F2006C40CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51614983161CB250006C40CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5161498B161CB263006C40CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51F06C5F17655B6E00C65318</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DD76FA90486AB0100D96B5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
